
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let person of persons">
    <td><a [routerLink]="['/person-detail', person.id]">{{person.id}}</a></td>
    <td><a [routerLink]="['/person-detail', person.id]">{{person.name}}</a></td>
    <td><a [routerLink]="['/person-edit', person.id]">Edit</a></td>
    <td><a (click)="delete(person)">Delete</a></td>
  </tr>

</table>

<button routerLink="/person-add" >Add</button>
