<div class="container">
  <div class="row">
<div class="col-md-5">
  <mat-card>
    <h3>Task Add</h3>
    <form (ngSubmit)="add()">
      <!--<mat-form-field>-->
        <!--<mat-label>Person Name</mat-label>-->
        <!--<input matInput [formControl]="PersonName" type="text" >-->
      <!--</mat-form-field>-->
      <!--<br />-->

      <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input matInput [formControl]="TaskName" type="text" >
      </mat-form-field>
      <br />
      <button mat-raised-button>Add</button>
    </form>
  </mat-card>
</div>

  </div>
</div>
