<div class="container">
<div class="row">

  <div class="col-md-12">
    <h3>Person Task List</h3>
    <table class="table table-striped">
      <tr>
        <th>Person Name</th>
        <th>Task Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><a><mat-icon>edit</mat-icon></a></td>
        <td><a><mat-icon>delete_forever</mat-icon></a></td>
      </tr>

    </table>
    <a [routerLink]="['/persontask-add']">
      <mat-icon>circle_add</mat-icon>
    </a>
  </div>

</div>
</div>

